{% extends 'base.html' %}
{% load static %}
{{% block title %}
<title>Contact Us-Taskmate</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="type="text/css" href="{% static 'css/blog.css' %}">">
{% endblock css %}
     {% block content %}
        <div class="container"> 
        <div class="post">
            <div class="date">March 22nd 2020</div>
            <h2>Todo List example application</h2>
            <p class="quote">
                The Todo List application is the hello world application for the Eventuate™ Platform. It illustrates how you can use the platform to write an application with a microservices architecture that uses Event Sourcing and Command Query Responsibility Segregation (CQRS). The Todo List application lets users maintain a todo list.
                The Todo List application is a Java and Spring Boot application built using Eventuate™'s Event Sourcing based programming model. Todos are implemented by an Event Sourcing-based TodoAggregate. The aggregate's events are persisted in the Eventuate event store. The application also maintains a materialized view of the data in MySQL.
                Don't forget to take a look at the other Eventuate example applications.
            </p>
            <p>From overwhelmed to on top of it
                Todoist gives you the confidence that everything’s organized and accounted for, so you can make progress on the things that are important to you</p>
            <hr>

        </div>
            <div class="post">
                <div class="date">March 20th 2019</div>
                <h2>This is Aother Article</h2>
                <p class="quote">From consulting a simple grocery list to planning for a big day, shared lists help you stay connected with family, friends, and colleagues. Make tasks more manageable Break tasks down into simple steps, add due dates, and set reminders to keep you on track.
                </p>
                <p>A to-do list you’d actually use. With award winning design and powerful features, Any.do is the to-do list you would actually stick to. Designed to help you get organized, achieve your goals and never forget a thing.</p>
                <hr>

            </div>
     </div>
 {% endblock content %}