{% extends 'base.html' %}
{% load static %}
{{% block title %}
<title>Color Game</title>
    {% endblock title %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/colorGame.css' %}">
    {% endblock css %}
     {% block content %}
    <div class="bg-dark">
	<h1>
	The Great
    <br>
	<span id="colorDisplay">RGB</span> 
    <br>
	Color Game</h1>
	<div id="stripe">
		<button id="reset">New Colors</button>
		<span id="message"></span>
		<button class="mode">Easy</button>
		<button class="mode selected">Hard
		</button>
	</div>
  <div id="container1">
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  </div>
  </div>	
 {% endblock content %}
 {% block js %}
 <script type="text/javascript" src="{% static 'js/colorGame.js' %}"></script>
 {% endblock js %}