{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Welome To Home-Taskmate</title>
    {% endblock title %}
     {% block content %}
     <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
          <img src="{% static 'images/sticky.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
          <img src="{% static 'images/sticky2.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
          <img src="{% static 'images/sticky1.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
        <div class="row mt-5">
           <div>
             <center><p class="h1 text-primary">Quit and Easy to Use, Anytime, Anywhere, Easy And Free Access</p></center>
             <center><p class="h2 mt-3">"Plan Your Day Better, Get Your Life Organise"</p></center>
             <center><p class="h5">TASKMATE Lets You Keep Track Of Your Task In One Place</p></center>

             <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let Get's Started</button></a></center>
           </div>
        </div>
     </div>         
 {% endblock content %}