.body1 {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}
.quote {
	border-left:5px solid#bdc3c7;
	padding-left: 5px;
}
.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
.post {
	margin-bottom: 20px;
}
h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}
hr{
	height: 3px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}